* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
}
.navbar {
  width: 100%;
  height: 60px;
  margin-top: 3px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 6px 1px rgb(201, 196, 196);
}
.title {
  margin-left: 25px;
}
.title h6 {
  font-size: 15px;
}
.title h5 {
  font-size: 17px;
  color: blue;
}
.title i {
  color: rgb(246, 223, 195);
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  padding: 25px;
  color: black;
  font-size: 18px;
  transition: 0.1s;
}
.navbar ul li a:hover {
  color: blue;
  text-decoration: underline;
}
.demo-button {
  margin-right: 25px;
  background-color: blue;
  color: white;
  border: none;
  font-size: 13px;
  padding: 7px 12px 7px 12px;
  border-radius: 5px;
}
.welcome-section {
  width: 100%;
  display: flex;
  justify-content: space-between; /* To ensure the section takes full width and the items are spaced */
  align-items: center;
  padding: 20px;
}

.home-log {
  width: 70%;
  text-align: center;
  margin-left: 50px;
}
.head-title {
  width: 60%;
  text-align: center;
}
.home-log h1 {
  font-size: 60px;
  color: rgb(44, 43, 43);
  font-family: roboto;
}
.home-log h1 span {
  color: rgb(68, 68, 172);
}
.home-log h1 i {
  color: rgb(233, 204, 169);
}
.sub-title {
  margin-top: 20px;
  width: 45%;
  margin-left: 80px;
}
.sub-title p {
  color: rgb(64, 61, 61);
}
.input-field {
  margin-top: 30px;
  border-radius: 5px;
  width: 40%;
  padding: 8px 0px 8px 0px;
  box-shadow: 0px 0px 4px rgb(201, 197, 197);
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.input-field label {
  margin-top: 5px;
  margin-left: 10px;
  color: rgb(64, 61, 61);
}
.input-field button {
  width: 10%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: rgb(92, 92, 241);
  margin-right: 10px;
}
.input-field button i {
  color: white;
}

.welcome-section-image {
  width: 40%;
  display: flex;
  position: relative;
  margin-right: 20px;
}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.background {
  width: 60%; /* Adjust width to take up more space */
  height: 500px;
  object-fit: contain;
}

.overly {
  position: absolute;
  top: 0px; /* Position the overlay image slightly above */
  left: 25%; /* Adjust for overlap on the right */
  width: 95%; /* Make the overlay image smaller than the background */
  height: 700px;
  z-index: 1;
  object-fit: contain;
  /* Ensures overlay stays on top */
}
