*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.navbar{
    width:100%;
    height:60px;
    background-color:whitesmoke;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0px 0px 6px 1px rgb(201, 196, 196);
    

}
.title{
    margin-left:5px;
}
.title h6{
    font-size:15px;
}
.title h5{
    font-size:17px;
    color:blue;
}
.navbar ul {
    display:flex;
    justify-content:space-between;
    list-style:none;

   
}
.navbar ul li a{
    text-decoration:none;
    padding:20px;
    color:black;
    font-size:18px;
    transition:0.1s;
}
.navbar ul li a:hover{
    color:blue;
}
.demo-button{
    background-color:blue;
    color:white;
    border:none;
    font-size:13px;
    padding:7px 12px 7px 12px;
    border-radius:5px;
}
